@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
#root {
  /* max-width: 1280px;
  /* margin: 0 auto;
  padding: 2rem; */
  /* text-align: center;  */
  font-family: "poppins";
  /* background-color: #DFE1E1; */

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chatbox-buttons{
  border-radius: 50%;
    width: 37px;
    height: 37px;
}
.bg-purple{
  background: #cc2b5e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-default{
  background: -webkit-linear-gradient(to right, #02aab0, #00cdac);
  background: linear-gradient(to right, #02aab0, #00cdac);
}
.navbar.navbar-default {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  overflow:hidden;
  height:100%;
  margin-top:10px;
  padding-top:37px;
  padding-bottom:37px;
  padding-right:37px;
  position: relative;
  overflow-x: hidden;
}
#user-card{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}
.logout-btn.mt-2{
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  color:red;
  border:2px solid red;
  border-radius: 13px;
  /* font-family:"jost"; */
  font-weight: bold;
}
.logout-btn.mt-2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #fff; */
  border-radius: 10rem;
  z-index: -2;
}
.logout-btn.mt-2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: red;
  color:#fff;
  transition: all 0.3s;
  /* border-radius: 0rem; */
  z-index: -1;
}
.logout-btn.mt-2:hover {
  color: #fff;
}
.logout-btn.mt-2:hover:before {
  width: 100%;
}
/* .logout-btn.mt-2:hover{
  background-color: "red" !important;
  color:"white"
} */
.brand {
  position: absolute;
  /* left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  /* display: block; */ 
}
.gradient-custom {
  /* fallback for old browsers */
  background: hsla(192, 95%, 50%, 1);

  background: linear-gradient(270deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

  background: -moz-linear-gradient(270deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

  background: -webkit-linear-gradient(270deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);
  }
.navbar-header {
  display: flex;
}

.navbar-brand {
  display: inline-block;
  margin-left: 500px;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.chat-background {

  /* background: hsla(192, 95%, 50%, 1);

  background: linear-gradient(270deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

  background: -moz-linear-gradient(270deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

  background: -webkit-linear-gradient(270deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#07C8F9", endColorstr="#0D41E1", GradientType=1); */
  background-color: whitesmoke;
  height: 100vh
 
}
#card-registration{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
tr:hover {
  /* transition-delay: 0.6s; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.chatbox-background {

  /* background: hsla(192, 95%, 50%, 1);

  background: linear-gradient(270deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

  background: -moz-linear-gradient(270deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

  background: -webkit-linear-gradient(270deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#07C8F9", endColorstr="#0D41E1", GradientType=1); */
  background-color: whitesmoke;
}

.chat-input.d-flex.flex-column.justify-content-center.align-items-center {
  padding: 33px;
  margin-top: 52px;
  border-radius: 30px;
  background-color: white;
}

.joinRoom {
  margin-top: 27px;
  color: white;
  width: 100%;
  background-color: green;
  border-radius: initial;
}

#you {
  background-color: red;
  width: 30px
}

/* chatbox code */

.container {
  max-width: 1170px;
  margin: auto;
}

.mesgs.bg-light {
  height: 96vh;
}

svg.send-icon {
  margin-bottom: 11px;
  margin-left: -6px;

}

input[type=text]:focus {
  /* outline: 2px solid grey; */
  outline: none;
  outline-offset: -2px;
}

img {
  max-width: 100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}


.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 12px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.received_withd_msg_purple p {
  background: #464646 none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: white;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
}
.received_withd_msg_purple {
  /* width: 57%; */
  margin-right: auto
}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
  /* if we need recent chat section then this will 60% */
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.sent_msg_custom {
  background: #05728f none repeat scroll 0 0;
}
.sent_msg_custom_purple {
  background:#8F3DB1 none repeat scroll 0 0;
}
.sent_msg_custom_dark{
  background: #cc2b5e none repeat scroll 0 0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e); 
}
.sent_msg_purple p{
background:#8F3DB1 none repeat scroll 0 0;
border-radius: 3px;
font-size: 14px;
margin: 0;
color: #fff;
padding: 5px 10px 5px 12px;
width: 100%;
}
.sent_msg_purple {
  flex-direction: row-reverse;
  margin-left: auto
}

.sent_msg_dark p{
  background: #cc2b5e none repeat scroll 0 0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #753a88, #cc2b5e); 
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
  }
  .sent_msg_dark {
    /* float: right;
    width: 46%; */
    flex-direction: row-reverse;
  margin-left: auto

  }

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
  padding-right: 9px;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: white;
  font-size: 17px;
  min-height: 48px;
  width: 100%;
  font-weight:'bold';
  padding-left:10px
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
/* chat-box section */
.left-room {
  /* display: flex;
  justify-content: center;
  margin: 9px; */
  font-weight: bold;
  display:flex;
  justify-content: space-between;
}
/* leave button styling */
.button-leave {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: black;
  border:1px solid red;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button-leave:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10rem;
  z-index: -2;
}
.button-leave:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #02aab0;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button-leave:hover {
  color: #fff;
}
.button-leave:hover:before {
  width: 100%;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 9px;
  top: 6px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

.msg_history::-webkit-scrollbar {
  display: none;
}



#other {
  background-color: green
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gradient-custom {
 
  background: #f093fb;


  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

  
  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.signup.container.py-5.h-100 {
  width: 554px;
  border: 1px solid black;
  background-color: #e4dddd;
  border-radius: 10px;
}

section.signup.py-3.gradient-custom {
  width: 900px;
  height: 680px;
}

.checkbox {
  padding: 8px;
}

label {
  display: flex;
  margin-left: 2px;
}

.form-group {
  margin-top: 7px;
}

section.login.py-3.gradient-custom {
  width: 590px;
}

.login.container.py-5.h-100 {
  border: 1px solid black;
  width: 340px;
  background-color: #e4dddd;
  border-radius: 10px;
}

button.submit-button.btn.btn-primary {
  margin-top: 22px;
}

.change-password.form-group {
  margin-top: 17px;
}

button.show-field-button {
  background-color: #008080;
}

button.sort-button {
  background-color: #AFEEEE;
}


button.up-arrow {
  padding: 2px 4px;
  font-size: 10px;
}


button.down-arrow {
  padding: 2px 4px;
  font-size: 10px;
}



/* testing */
.chat-online {
  color: #34ce57
}

.chat-offline {
  color: #e4606d
}

.chat-messages {
  display: flex;
  flex-direction: column;
  /* max-height: 800px; */
  overflow-y: scroll
}

.chat-message-left,
.chat-message-right,.sent_msg_purple,.received_withd_msg_purple,.sent_msg_dark {
  display: flex;
  flex-shrink: 0
}

.chat-message-left {
  margin-right: auto
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto
}
.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.flex-grow-0 {
  flex-grow: 0!important;
}
.border-top {
  border-top: 1px solid #dee2e6!important;
}